<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
        <alwaysOn>true</alwaysOn>
        <bodyName>base_link</bodyName>
        <topicName>wamv/imu</topicName>
        <serviceName>imu_service</serviceName>
        <gaussianNoise>0.0</gaussianNoise>
        <updateRate>20.0</updateRate>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin name="hydrodynamics" filename="libHydrodynamicsPlugin.so">
            <!-- Wave Model -->
            <wave_model>ocean</wave_model>
    
            <!-- Hydrodynamics -->
            <damping_on>true</damping_on>
            <viscous_drag_on>true</viscous_drag_on>
            <pressure_drag_on>true</pressure_drag_on>
    
            <!-- Markers -->
            <markers>
            <update_rate>30</update_rate>
            <water_patch>false</water_patch>
            <waterline>false</waterline>
            <underwater_surface>false</underwater_surface>
            </markers>
        </plugin>
    </gazebo>

</robot>